body {
  background-color: #aaa;
}
div {
  background-color: #000000;
}
table {
  background-color: #ffffff;
}
.tableau {
  border-collapse: collapse;
}
.tableau td,
.tableau th {
  border: 1px dotted #000000;
  padding: 5px;
  font-family: 'Questrial';
}
